1. What is a tuple?

Answer:

2. Enter the following code into the new line:  t = (57,75,80) hit shift + enter

3. Enter the following code into the new line:  l = [57,75,80] hit shift + enter

4. What is the object type assign the variable t?

5. What is the object type assign the variable l?

6. What is the length of t?

7. Return the number 75 out of the object assigned to t.

8. Assign the variable cities the tuple ('New Berlin', 'New York', 'New Glarus').

9. Determine the number of times the word 'New York' occurs in the tuple assigned to cities. (use Python)

10. In what position does the first time 'New Glarus' occur in the tuple assigned to cities? (use Python)

11. True or False, Tuples have a lot of methods associated with them.

Answer:

12. True or False, Tuples are Immutable.

Answer:

13. Which of the following is a tuple: a. [1,2,3] b.(1,2,[1,2]) c.(1,2,3]

Answer: